
<app-logout></app-logout>
<div class="container">
  <h1>Balances Year</h1>
  <hr>

  <div >
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Date</th>
        <th>CR_DB</th>
        <th>New Amount</th>
        <th>Balances</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let balances of listBalancesYear">
        <td>{{balances.id}}</td>
        <td>{{balances.year}}</td>
        <td>{{balances.cr_Db}}</td>
        <td>{{balances.new_Amount}}</td>
        <td>{{balances.balances}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
