<div *ngFor="let balances of listBalancesYear">
  <ul class="list-group ">
    <li class="list-group-item list-group-item-dark">{{balances.id}}</li>
    <li class="list-group-item list-group-item-dark">{{balances.date}}</li>
    <li class="list-group-item list-group-item-dark">{{balances.cr_Db}}</li>
    <li class="list-group-item list-group-item-dark">{{balances.new_Amount}}</li>
    <li class="list-group-item list-group-item-dark">{{balances.balances}}</li>
    <!--    <li class="list-group-item list-group-item-dark">-->
    <!--      <button class="btn btn-warning" (click)="updateExpense(balances.id)">Update</button>-->
    <!--    </li>-->
    <!--    <li class="list-group-item list-group-item-dark">-->
    <!--      <button class="btn btn-danger" (click)="deleteExpense(balances.id)">Delete</button>-->
    <!--    </li>-->
  </ul>
</div>
