<!DOCTYPE html>
<html>
<body>
  <div class="container">
    <form class="signUp">
      <img src="../assets/saving.png" style="width: 25%;">
      <h3>Login Account</h3>
      <p>Please fill in this form to login account
      </p>
      <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
      <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
      <input type="text" placeholder="Enter Username" name="username" id="username" [(ngModel)]="username" required>
      <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="password" id="password" required>

      <a routerLink="/register"><button type="button" class="form-btn sx log-in">Sign Up</button></a>
      <button type="submit" class="form-btn dx" (click)=handleLogin()>Login</button>
    </form>
  </div>
</body>
</html>
