<!DOCTYPE html>
<html>
<body>

<form action="/action_page.php" style="border:1px solid #ccc">
  <div class="container">
    <h1>Edit Income Form</h1>
    <hr>

    <label for="username"><b>Date</b></label>
    <input type="date" placeholder="Enter Date" name="date" required>

    <label for="username"><b>Description</b></label>
    <input type="text" placeholder="Enter Description" name="description" required>

    <label for="username"><b>Amount</b></label>
    <input type="number" placeholder="Enter Amount" name="amount" required>

    <label for="username"><b>Income Category</b></label>
    <select name="category_income">
        <option>Enter Income Category</option>
    </select>
    <div class="clearfix">
      <button type="submit" class="signupbtn">Submit</button>
    </div>
  </div>
</form>

</body>
</html>
