<!DOCTYPE html>
<html>
<body>

<form action="/action_page.php" style="border:1px solid #ccc">
  <div class="container">
    <h1>User Settings</h1>
    <hr>

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <label for="password"><b>Repeat Password</b></label>
    <input type="password" placeholder="Enter Password" name="password2" required>

    <div class="clearfix">
      <button type="submit" class="signupbtn" style="width: 100%;">Submit</button>
    </div>
  </div>
</form>

</body>
</html>
