<app-logout></app-logout><br>
<!-- <a routerLink="/register">Register</a><br>
    <a routerLink="/income">Halaman Income</a><br>
    <a routerLink="/income-categories">Halaman Income Categories</a><br>
    <a routerLink="/user-settings">Halaman User Settings</a><br> -->
<div class="container">
    <div class="card">
        <div class="card-header">
            <img src="../assets/profit.png" alt="rover"/>
        </div>
        <div class="card-body">
            <span class="tag tag-income">Income</span>
            <h1>
               Total Income
            </h1>
            <p>
                Total income for this month
            </p>
            <h1>
               Rp. ,00
             </h1>
             <table>
                <tr ngFor="let total of totalData">
                    <td>{{totalData.amount}}</td>
                </tr>
             </table>
        </div>
    </div>  
    <div class="card">
        <div class="card-header">
            <img src="../assets/loss.png" alt="rover"/>
        </div>
        <div class="card-body">
            <span class="tag tag-expense">Expense</span>
            <h1>
                Total Expenses
             </h1>
            <p>
                Total expenses for this month
            </p>
            <h1>
                Rp. 30000,00
             </h1>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="../assets/financial-profit.png" alt="rover" />
        </div>
        <div class="card-body">
            <span class="tag tag-income">Income</span>
            <h1>
                Biggest Income
             </h1>
            <p>
                Biggest income of the month<br>
                2022-11-06 12:33:00 | Gaji Bulan November
            </p>
            <h1>
                Rp. 5000000,00
             </h1>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="../assets/expenses.png" alt="rover" />
        </div>
        <div class="card-body">
            <span class="tag tag-expense">Expense</span>
            <h1>
                Biggest Expense
             </h1>
            <p>
                Biggest expense of the month <br>
                2022-11-06 12:33:00 | Sushi
            </p>
            <h1>
                Rp. 40000,00
             </h1>
        </div>
    </div>
    
</div>

    