
<app-logout></app-logout>
<div class="container">
  <h1>Balances</h1>
  <hr>

  <div >
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Date</th>
        <th>CR_DB</th>
        <th>New Amount</th>
        <th>Balances</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let balances of listBalances">
        <td>{{balances.id}}</td>
        <td>{{balances.date | date:'dd/MM/yyyy hh:mm:ss'}}</td>
        <td>{{balances.cr_Db}}</td>
        <td>{{balances.new_Amount}}</td>
        <td>{{balances.balances}}</td>
        <td>{{balances.name}}</td>
        <td>{{balances.description}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
